@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<Species>

<h2>Species</h2>

<div style="display: block">
    <a href="/Species/InsertSpecies/">Add a New Species</a>
</div>

<table class="table">
    <tr>
        <!-- <th>Image Placeholder</th> -->
        <th>Genus</th>
        <th>Species Name</th>
        <th>Pronunciation</th>
        <th>Meaning</th>
        <th>Taxonomist</th>
        <th>Discovered</th>
        <th>Country</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Filename</th>
        <th>Mottled Leaf</th>

    </tr>

    @foreach (var species in @Model)
    {
        <tr>
            <!-- Image Placeholder -->

            <td>@species.GenusNames[@species.GenusID]</td>
            <td><a href=/Species/ViewSpecies/@species.SpeciesID>@species.SpeciesName</a></td>
            <td>@species.Pronunciation</td>
            <td>@species.Meaning</td>
            <td>@species.Taxonomist</td>
            <td>@species.DiscoveryYear</td>
            <td>@species.CountryOfOrigin</td>
            <td>@species.Latitude</td>
            <td>@species.Longitude</td>
            <td>@species.ImageName</td>
            <td>@species.MottledLeaf</td>
        </tr>
    }

</table>
