@model IEnumerable<Species>

@{
    ViewData["Title"] = "Species";
}

<h4>Species</h4>

<div class="button-wrapper">
    <a href="/Species/InsertSpecies/" class="btn btn-primary">Add Orchid</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Genus</th>
            <th>Species</th>
            <th>Pronunciation</th>
            <th>Meaning</th>
            <th>Taxonomist</th>
            <th>Discovered</th>
            <th>Country</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var species in Model)
        {
            <tr class="clickable-row" data-url="@Url.Action("ViewSpecies", "Species", new { id = species.SpeciesID })">
                <td><img src="@Url.Action("GetImage", "Species", new { id = species.SpeciesID })" alt="Species Image" class="orchid-image" /></td>
                <td style="scientific-name-style; font-style: italic;">@species.GenusNames[species.GenusID]</td>
                @*<td style="scientific-name-style font-style: italic;">@species.SpeciesName</td>*@
                <td style="scientific-name-style; font-style: italic;">@species.SpeciesName</td>
                <td>@species.Pronunciation</td>
                <td>@species.Meaning</td>
                <td>@species.Taxonomist</td>
                <td>@species.DiscoveryYear</td>
                <td>@species.CountryOfOrigin</td>
                <td>@species.Latitude</td>
                <td>@species.Longitude</td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $("tr.clickable-row").click(function () {
            var url = $(this).data("url");
            window.location.href = url;
        });
    });
</script>
