@model Species

<h2>Update Orchid</h2>

@using (Html.BeginForm("UpdateSpeciesToDatabase", "Species", "Post"))

{
    <input asp-for="SpeciesID" type="hidden" value="@Model.SpeciesID" />

    <label asp-for="SpeciesName" class="control-label">Species Name</label>
    <input type="text" name="SpeciesName" class="form-control scientific-name-style" value="@Model.SpeciesName" />

    <label asp-for="Pronunciation" class="control-label">Pronunciation</label>
    <input type="text" name="Pronunciation" class="form-control" value="@Model.Pronunciation" />

    <label asp-for="Meaning" class="control-label">Meaning</label>
    <input type="text" name="Meaning" class="form-control" value="@Model.Meaning" />

    <label asp-for="Taxonomist" class="control-label">Taxonomist</label>
    <input type="text" name="Taxonomist" class="form-control" value="@Model.Taxonomist" />

    <label asp-for="DiscoveryYear" class="control-label">Discovered</label>
    <input type="number" step="1" name="DiscoveryYear" class="form-control" value="@Model.DiscoveryYear" />

    <label asp-for="CountryOfOrigin" class="control-label">Country</label>
    <input type="text" name="CountryOfOrigin" class="form-control" value="@Model.CountryOfOrigin" />

    //<label asp-for="Image" class="control-label">Image</label>
    //<input type="byte[]" name="Image" class="form-control" value="@Model.Image"/>

    <label asp-for="Latitude" class="control-label">Latitude</label>
    <input type="number" step=".000001" name="Latitude" class="form-control" value="@Model.Latitude" />

    <label asp-for="Longitude" class="control-label">Longitude</label>
    <input type="number" step=".000001" name="Longitude" class="form-control" value="@Model.Longitude" />
    
@*    <label asp-for="ImageName" class="control-label">Image Name</label>
    <input type="text" name="ImageName" class="form-control" value="@Model.ImageName" />*@

@*    <label asp-for="MottledLeaf" class="control-label">Mottled Leaf</label>
    <input type="checkbox" name="MottledLeaf" class="form-control checkbox-inline" value="@Model.MottledLeaf" />*@

    
    @*<input type="submit" value="Update Species" class="btn btn-primary" />*@

    <div class="button-group">
        <input type="submit" value="Update Orchid" class="btn btn-primary" />
        <a href="/Species" class="btn btn-secondary">Cancel</a>
    </div>
}
