@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Species

<h3>@Model.SpeciesName Information</h3>

<table class="table">
    <tr>
        <!-- <th>Genus ID</th>, Show static GenusName -->
        <!-- <th>Species ID</th>, Just show clickable SpeciesName -->
        <th>Genus</th>
        <th>Species ID</th>
        <th>Species Name</th>
        <th>Pronunciation</th>
        <th>Meaning</th>
        <th>Taxonomist</th>
        <th>Discovered</th>
        <th>Country</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Filename</th>
        <th>Mottled Leaf</th>
        <!-- Image Placeholder -->

    </tr>
    <tr>
        <!-- <th>Genus ID</th>, Show static GenusName -->
        <!-- <th>Species ID</th>, Just show clickable SpeciesName -->
        <td>@Model.GenusNames[Model.GenusID]</td>
        <td>@Model.SpeciesID</td>
        <td>@Model.SpeciesName</td>
        <td>@Model.Pronunciation</td>
        <td>@Model.Meaning</td>
        <td>@Model.Taxonomist</td>
        <td>@Model.DiscoveryYear</td>
        <td>@Model.CountryOfOrigin</td>
        <td>@Model.Latitude</td>
        <td>@Model.Longitude</td>
        <td>@Model.ImageName</td>
        <td>@Model.MottledLeaf</td>
        <!-- <td>@Model.Image</td> -->
    </tr>
</table>

<div style="display: block">
    <a href="/Species/UpdateSpecies/@Model.SpeciesID">Update this Species</a>
</div>

<div style="display: block">

    @using (Html.BeginForm("DeleteSpecies", "Species", "Post"))
    {
        <input type="hidden" asp-for="SpeciesID" value="@Model.SpeciesID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Delete this species" />
    }
</div>
