@model Species

<h3>View Orchid</h3>

<table class="table">
    <tr>
        <th></th>
        <th>Species</th>
        <th>Pronunciation</th>
        <th>Meaning</th>
        <th>Taxonomist</th>
        <th>Discovered</th>
        <th>Country</th>
        <th>Latitude</th>
        <th>Longitude</th>

    </tr>
    <tr>
        <td></td>
        <td style="font-style: italic;">@Model.SpeciesName</td>
        <td>@Model.Pronunciation</td>
        <td>@Model.Meaning</td>
        <td>@Model.Taxonomist</td>
        <td>@Model.DiscoveryYear</td>
        <td>@Model.CountryOfOrigin</td>
        <td>@Model.Latitude</td>
        <td>@Model.Longitude</td>
    </tr>
</table>

<div class="button-group">
        <a href="/Species/UpdateSpecies/@Model.SpeciesID" class="btn btn-primary">Update Orchid</a>
        @using (Html.BeginForm("DeleteSpecies", "Species", "Post"))
        {
            <input type="hidden" asp-for="SpeciesID" value="@Model.SpeciesID" />
            <input type="submit" onclick="return confirm('Are you sure?')" value="Delete Orchid" class="btn btn-danger" />
        }
    <a href="/Species" class="btn btn-secondary">Back to List</a>
</div>