@model List<dynamic>

<table>
    <thead>
        <tr>
            <!-- <th>image</th> -->
            <th>Genus Name</th>
            <th>Species Name</th>
            <th>Species Pronunciation</th>
            <th>Species Name Meaning</th>
            <th>Taxonomist</th>
            <th>Country</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Filename</th>
            <th>Mottled Leaf</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Action("GetImage", "Species", new { id = item.SpeciesID })" alt="Image" style="max-width: 100px; max-height: 100px;" />
                </td>
                <td>@item.SpeciesName</td>
                <td>@item.SpeciesPronunciation</td>
                <td>@item.SpeciesNameMeaning</td>
                <td>@item.Taxonomist</td>
                <td>@item.Country</td>
                <td>@item.Latitude</td>
                <td>@item.Longitude</td>
                <td>@item.ImageName</td>
                <td>@item.MottledLeaf</td>
            </tr>
        }
    </tbody>
</table>
