@model List<dynamic>

<table>
    <thead>
        <tr>

            <th></th>
            <th>Genus Name</th>
            <th>Species Name</th>
            <th>Species Pronunciation</th>
            <th>Species Name Meaning</th>
            <th>Taxonomist</th>
            <th>Country</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Filename</th>
            <th>Mottled Leaf</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="data:image;base64,@item.ImageBase64" alt="Species Image" width="100" height="100" /></td>
                <td>@item.GenusName</td>
                <td>@item.SpeciesName</td>
                <td>@item.SpeciesPronunciation</td>
                <td>@item.SpeciesNameMeaning</td>
                <td>@item.Taxonomist</td>
                <td>@item.Country</td>
                <td>@item.Latitude</td>
                <td>@item.Longitude</td>
                <td>@item.ImageName</td>
                <td>@item.MottledLeaf</td>
            </tr>
        }
    </tbody>
</table>
